<h1>HOME</h1>
<h3><%= link_to "ABOUT", about_path %>
<br>
<%= link_to "Sign up as a doctor", new_doctor_path %>
<br>
<%= link_to "Sign up as a patient", new_patient_path %>
<br>
<%= link_to "Sign in", login_path %>
