<h1>All Doctors</h1>

<% @doctors.each do |d| %>

<%= render :partial => "view", :locals => { :d => d} %>

<div class="small-margin-top-div">
  <%=link_to "View Full Details", doctor_path(d), :class => "show-page-button" %>
</div>
<hr>
<% end %>
<div class='space-bottom-div'>
</div>
