<h1>Doctors#index</h1>
<% @doctors.each do |d| %>
<h5> <%= d.name %> </h5>
<br>
<h5> <%= d.gender %> </h5>
<br>
<h5> <%= d.specialty %> </h5>
<br>
<h6> <%= d.practice_location %> </h6>
<hr>
<% end %>
