/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

html {
  /* background: url(../images/15002.jpg) no-repeat center center fixed; */
  background: blue;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding: none;
  margin: 0;
}

h1 {
  font-family: sans-serif;
  font-size: 3em;
  color: white;
  margin: 50px 5% 0.67em 5%;
}

h2{
  font-family: sans-serif;
  font-size: 2.2em;
  color: white;
  margin: 0.83em 5% 0.83em 5%;
}

h3 {
  font-family: sans-serif;
  font-size: 1em;
  color: white;
  margin: 1em 5% 1em 5%;
}

h4 {
  font-family: sans-serif;
  font-size: 1em;
  margin: 1.33em 5% 1.33em 5%;
  padding-top: 10px;
}

p {
  font-size: 1.2em;
  font-family: sans-serif;
  color: white;
  margin: 1em 5% 1em 5%;
}

a {
  font-family: sans-serif;
  font-size: 1em;
  color: white;
  margin-top: 10%;
}

.home-page-link {
  font-family: sans-serif;
  color: rgb(14,34,113);
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2em;
  text-decoration: none;
  background: white;
  border-radius: 8px;
  padding: 8px;
}

a.show-page-button {
  font-family: sans-serif;
  color: rgb(14,34,113);
  margin-left: 5%;
  margin-right: 5%;
  font-size: 2em;
  text-decoration: none;
  background: white;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

input.show-page-button {
  font-family: sans-serif;
  color: rgb(14,34,113);
  margin-right: 5%;
  font-size: 2em;
  text-decoration: none;
  background: white;
  border-radius: 8px;
  padding: 8px;
  cursor: pointer;
}

input.error {
  border-width: 4px;
  border-color: rgb(182, 63, 63);
  background-color: rgb(255, 205, 205);
}

.margin-top-div {
  margin-top: 40px;
}

.small-margin-top-div {
  margin-top: 10px;
}

.space-bottom-div {
  margin-bottom: 105px;
}

.welcome-title {
  margin-top: 15%;
}

input {
  font-family: sans-serif;
  font-size: 1.4em;
  background-color: white;
}

button {
  font-family: sans-serif;
  font-size: 2em;
  color: rgb(14,34,113);
  border-radius: 8px;
  background-color: white;
  padding: 8px;
  margin-top: 8px;
  cursor: pointer;
}

label {
  font-family: sans-serif;
  font-size: 1.5em;
  color: white;
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border: 2px solid white;
  margin-left: 5%;
  margin-right: 5%;
}

tr {
  font-family: sans-serif;
}

th {
  font-family: sans-serif;
  font-size: 1.6em;
  color: white;
  border: 2px solid white;
  padding: 10px;
  text-align: center;
}

td {
  font-family: sans-serif;
  font-size: 1.2em;
  color: white;
  border: 2px solid white;
  padding: 10px;
}

form {
  margin-left: 5%;
}

.navbar-title {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  position: fixed;
  margin-top: 7px;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(255, 250, 250);
  text-decoration: none;
  z-index: 6;
  border-style: solid;
  border-width: 3px;
  border-color: white;
  padding: 2px;
}

.navbar-title:hover {
  color: rgb(193, 193, 193);
  border-color: rgb(193, 193, 193);
}

hr {
  margin-top: 15px;
}

hr.about {
  width: 80%;
  height: 5px;
  background-color: white;
  border-radius: 1px;
  border-color: white;
}

div.nav-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10%;
  background-color: rgb(14,34,113);
  z-index: 5;
  max-height: 46px;
  min-height: 40px;
}

.navbar-button {
  font-family: sans-serif;
  font-size: 1.7em;
  position: fixed;
  margin-top: 5px;
  left: 10%;
  z-index: 6;
  transform: translateX(-50%);
  color: rgb(14,34,113);
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  padding-top: 1px;
  padding-bottom: 2px;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 8px;
  text-align: center;
}

.navbar-button:hover {
  background-color: rgb(193, 193, 193);
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(14,34,113);
  color: white;
  text-align: center;
}
footer p {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.alert {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f44336;
  color: white;
  position: relative;
  z-index: 10;
}

.notice {
  font-family: sans-serif;
  padding: 20px;
  background-color: #6bbd6e;
  color: white;
  position: relative;
  z-index: 10;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.small-label {
  font-family: sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

form p {
  margin: 0;
  margin-left: 8px;
}
