<h1>Edit Appointment</h1>
<h2>All fields are required. </h2>

<%= form_for @appointment do |f| %>

<%= render :partial => "form", :locals => { :appointment => @appointment, :f => f } %>

<%= f.button "Update Appointment", data: { confirm: 'Are you sure you want to save changes to this appointment?'}%>
<% end %>

<div class="margin-top-div">
<%= link_to "Cancel", appointment_path(@appointment), data: { confirm: 'Are you sure you want to discard any changes?'}, :class => "show-page-button"%>
</div>
