<h1>Your Appointments</h1>
<% if @current_doctor %>
<%= link_to "Add a new appointment", new_appointment_path, :class => "show-page-button" %>
<% end %>

<hr>
<% @appointments.each do |a| %>

<%= render :partial => "view", :locals => { :a => a} %>

<% end %>

<% if !@appointments.any? %>
  <p>You have no appointments.</p>
<% end %>
<div class='space-bottom-div'>
</div>
