<h1>New Appointment</h1>
<h2>All fields are required. </h2>

<%= form_for @appointment do |f| %>

<%= render :partial => "form", :locals => { :appointment => @appointment, :f => f } %>

<%= f.button "Book Appointment"%>
<% end %>

<div class="margin-top-div">
<%= link_to "Cancel", appointments_path, data: { confirm: 'Are you sure you want to cancel appointment creation?'}, :class => "show-page-button"%>
</div>
