$('#doctor-appointments-section').append(`<div id='div-${o}'></div>`);
$(`#div-${o}`).append(`<table id='table-${o}'></table>`);
$(`#table-${o}`).append(`<tr><th>Date</th><td>${a.date}</td></tr>`);
$(`#table-${o}`).append(`<tr><th>Time</th><td>${a.time}</td></tr>`);
$(`#table-${o}`).append(`<tr><th>Patient</th><td><a href='${a.patient_url()}'>${a.patient_name}</a></td></tr>`);
$(`#div-${o}`).append(`<a href='/appointments/${a.r_id}' class='show-page-button'>View Full Details</a>`);
$(`#div-${o}`).append('<hr>');
